.row {
    display: flex;
    width: 100%;   
}


.circle {
    position:relative;
    padding-bottom:100%;
    /* background:gold; */
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(120,9,121,1) 23%, rgba(0,212,255,1) 100%);
    border-radius:50%;
}
.circle h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    /* left: 50%; */
}

.image-blog {
    width: 50%;
    /* padding: 0-50px; bigger circle */
	padding: 30px;
	border:var(--border-size) solid;
	margin:5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    border:var(--border-size) solid;
    margin: 5px;
}

form button {
    height: 20px;
    width: 100px;
}


@media screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
        
    }

    .image-blog {
        width: auto;
        border: var(--border-size) solid;
    }

    form {
        width: auto;
        border: var(--border-size) solid;
    }
}

@media screen and (max-width: 992px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .image-blog {
        width: auto;
        border: var(--border-size) solid;
    }

    form {
        width: auto;
        border: var(--border-size) solid;
    }
}